!!!
html
	head
		
		link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/css/basic.css')
		link(rel='stylesheet', href='/css/style.css')
		title= title
	body
		div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				div.container
					a.btn.btn-navbar
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand Clothtag

					div.nav-collapse.collapse
						ul.nav
							li 
								a Home
							li.active
								a New Image
							li
								a Contact

		

		div.container
			h2= title
			form(action='/images', method='POST', enctype="multipart/form-data")
				input.input.input-block-level(type='file', name='image', accept="image/png, image/jpg, image/gif")	
				input.input-block-level(type='text', name='title', placeholder='Title')
				
				button.btn.btn-large.btn-primary(type='submit') Submit