!!!
html
	head
		
		link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/css/basic.css')
		link(rel='stylesheet', href='/css/style.css')
		title= title
	body
		include ../header

		

		div.container
			h2= title
			form(action='/images', method='POST', enctype="multipart/form-data")
				input.input.input-block-level(type='file', name='image', accept="image/png, image/jpg, image/gif")	
				input.input-block-level(type='text', name='title', placeholder='Title')
				
				button.btn.btn-large.btn-primary(type='submit') Submit