include ../layout_1
		include ../header

		include ../logo
		div.container#upload
			h2= title
			form(action='/images', method='POST', enctype="multipart/form-data")
				input.input.input-block-level(type='file', name='image', accept="image/png, image/jpg, image/gif")	
				input.input-block-level(type='text', name='title', placeholder='Title')
				
				button.btn.btn-large.btn-primary(type='submit') Submit
	