extend layout

block append head

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
block container
	.under-navbar
		div.container#image-container
			h2= title
			p Tien Nguyen & Kolja Kirchner
			| 