div#mask
	div#dialog
		div.container
			h2 Tag Image
			form(id='tag-form')
				
				fieldset
					p
						input(type='text', name='link', placeholder='Link')
					p
						input(type='text', name='title', placeholder='Title')
			
					input(type='submit', id='#send-tag', value='Submit')
		