div#mask
	div#dialog
		div.container
			h2 Tag Image
			form(
				id='tag-form',
				action='/images/' + imageId + '/tag', 
				method='POST', 
				enctype="multipart/form-data")
				
				fieldset
					p
						input(type='text', name='link', placeholder='Link')
					p
						input(type='text', name='title', placeholder='Title')
			
			button.btn.btn-large.btn-primary(onclick='tagging.sendTag()') Submit
		