div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				div.container
					a.btn.btn-navbar
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href='/') Clothtag

					div.nav-collapse.collapse
						ul.nav
							-if(template == 'index') 
								li.active 
									a(href='/') Home
							-else 
								li
									a(href='/') Home
							-if(username!='')	
						
								-if(template == 'images/new') 
									li.active 
										a(href='/images/new') New Image
								-else 
									li
										a(href='/images/new') New Image
								li
									a(href='/myimages') My Images
							li
								a(href='/contact') Contact
							
							div.right	
								ul.nav
									-if(username!='')
										li
											a(href='/') hallo #{username}
										li	
											a(href='/logout') Sign out
									-else 
										li
											a(href='/login') Sign in
										li
											a(href='/register') Register