!!!
html
	head
		
		link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/css/basic.css')
		link(rel='stylesheet', href='/css/style.css')
		title= title
	body
		include header

		

		div.container
			h2= title
			form(action='/login-success', method='POST', enctype="multipart/form-data")
				
				input.input-block-level(type='text', name='email', placeholder='Email')
				input.input-block-level(type='password', name='pass', placeholder='Password')

				button.btn.btn-large.btn-primary(type='submit') Submit