extend layout

block append head

		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
		script(type='text/javascript', src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.js')

		script(type='text/javascript')
			$(document).ready(function(){
			$("#validation").validate();
			});

block container

		div.container
			h2= title
			form(action='/users', method='POST', enctype="multipart/form-data", class="form-horizontal", id='validation')
				div.control-group
					label(class='control-label', for='inputEmail') Username
					div.controls
						input.required(type='text', name='user', placeholder='Username')
				
				div.control-group
					label(class='control-label', for='inputEmail') Email
					div.controls
					
						input.required.email(type='text', name='email', placeholder='Email')

				div.control-group
					label(class='control-label', for='inputPassword') Password
					div.controls
					
						input.required(type='password', name='pass', placeholder='Password')
					
				div.control-group
					label(class='control-label', for='inputPassword') Repeat password
					div.controls
					
						input.required(type='password', name='passRepeat', placeholder='Repeat Password')
	
				div.control-group
					div.controls
						button.btn.btn-primary(type='submit') Submit